body{
    background: linear-gradient(100deg, #1E90FF, #FFF8DC);
}
.parrafo1{
    text-align: left;
    color:#000;
    background: #FFF;
    padding: 0 70px;
    margin: 20px 180px;
}
.h21{
    margin: 20px 300px;
}
.parrafo2{
    text-align: left;
    color:#000;
    background: #FFF;
    padding: 0 70px;
    margin: 20px 300px;
}
.h22{
    margin: 20px 300px;
}
.parrafo3{
    text-align: left;
    color:#000;
    background: #FFF;
    padding: 0 70px;
    margin: 20px 300px;
}
.h23{
    margin: 20px 300px;
}
.parrafo4{
    text-align: left;
    color:#000;
    background: #FFF;
    padding: 0 70px;
    margin: 20px 300px;
}