body{
    background: linear-gradient(100deg, #1E90FF, #FFF8DC);
}
.Texto1{
    text-align: left;
    color:#000;
    background: #FFF;
    padding: 0 70px;
    margin: 20px 180px;
}
.Texto2{
    text-align: left;
    color:#000;
    background: #FFF;
    padding: 0 70px;
    margin: 20px 180px;
}
.Parrafo1{
    text-align: left;
    color:#000;
    background: #FFF;
    padding: 0 70px;
    margin: 20px 180px;
}
.imagen{
    margin: 10px 480px;
}